/* Applied classes */
.numOfResults {
    background: #F0F0F0;
    color: #959595;
    font-size: 14px;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 1px #CACACA;
}

.noResults {
    text-align: center;
}