/* Composition classes */
.input {
    height: 50px;
}

/* Applied Classes */
.textInput {
    composes: input;
}

.button {
    composes: input;
}

.icon {
    background: url(../../assets/search.png) 0 0;
    width: 15px;
    height: 17px;
    display: inline-block;
}